<div class="flex content-start mt-3 w-full justify-between">
    <div class="flex flex-col gap-3 justify-start ml-3">
        <p-button icon="pi pi-home" [rounded]="true" [text]="true" (onClick)="goToUserList()"/>
    </div>
    <div class="flex mr-3">
            <p-button icon="pi pi-check" [outlined]="true" [disabled]="form.invalid" aria-label="Save" label="Salva" (onClick)="submit()"/>
    </div>
</div>

<div class="flex w-full mt-6 ">
    <form [formGroup]="form" class="w-full flex justify-center">
        <p-card class="card flex justify-center">
            <p class="pi pi-user text-2xl" > <b> {{form.value.nome}} {{form.value.cognome}}</b></p>
            <div class="flex flex-col ">
                    <div class="flex flex-row justify-between" style="margin: 10px;">
                        <div style="margin-right: 10px;">
                            <p-ifta-label>
                                <input pInputText formControlName="nome" />
                                @if (form.get('nome')?.invalid && form.get('nome')?.touched){
                                  <div>
                                    <p>Il nome della persona è obbligatorio.</p>
                                  </div>
                                }
                                <label for="nome">Nome</label>
                            </p-ifta-label>
                        </div>
                        <div style="margin-right: 10px;">
                            <p-ifta-label>
                                <input pInputText formControlName="cognome" />
                                @if (form.get('cognome')?.invalid && form.get('cognome')?.touched){
                                  <div>
                                    <p>Il cognome della persona è obbligatorio.</p>
                                  </div>
                                }
                                <label for="cognome">Cognome</label>
                            </p-ifta-label>
                        </div>
                        <div>
                            <p-ifta-label>
                                <input pInputText formControlName="eta" />
                                @if (form.get('eta')?.invalid && form.get('eta')?.touched){
                                  <div>
                                    <p>L'età della persona è obbligatoria.</p>
                                  </div>
                                }
                                <label for="eta">Età</label>
                            </p-ifta-label>
                        </div>
                    </div>
                    <div class="flex flex-row justify-between" style="margin: 10px;">
                        <div style="margin-right: 10px;">
                            <p-ifta-label>
                                <input pInputText formControlName="luogo_di_nascita" />
                                @if (form.get('luogo_di_nascita')?.invalid && form.get('luogo_di_nascita')?.touched){
                                  <div>
                                    <p>Il luogo di nascita della persona è obbligatorio.</p>
                                  </div>
                                }
                                <label for="luogo_di_nascita">Luogo di nascita</label>
                            </p-ifta-label>
                        </div>
                        <div style="margin-right: 10px;">
                            <p-ifta-label>
                                <input pInputText formControlName="citta" />
                                @if (form.get('citta')?.invalid && form.get('citta')?.touched){
                                  <div>
                                    <p>La città della persona è obbligatoria.</p>
                                  </div>
                                }
                                <label for="citta">Città attuale</label>
                            </p-ifta-label>
                        </div>
                        <div>
                            <p-ifta-label>
                                <input pInputText formControlName="indirizzo" />
                                @if (form.get('indirizzo')?.invalid && form.get('indirizzo')?.touched){
                                  <div>
                                    <p>L'indirizzo della persona è obbligatorio.</p>
                                  </div>
                                }
                                <label for="indirizzo">Indirizzo</label>
                            </p-ifta-label>
                        </div>
                    </div>
            </div>
        </p-card>
    </form>
</div>

