<p-toolbar styleClass="m-4 h-14 flex content-center">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" [text]="true" (onClick)="goToAddPersona()" severity="secondary"/>
    </ng-template>

    <ng-template #end>
        <p>Persone totali: {{ totalRecords}}</p>
    </ng-template>
</p-toolbar>

<p-table [value]="listaPersone"
         [lazy]="true"
        [rowsPerPageOptions]="[10,20,30]"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        [tableStyle]="{ 'min-width': '35rem','min-height': '20rem', 'padding': '12px' }"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} of {{totalRecords}}"
        [scrollable]="true"
        scrollHeight="450px"
        (onLazyLoad)="onPageChange($event)">
    <ng-template #header>
        <tr>
            <th>Id
               <p>
                    <input type="number" pInputText [(ngModel)]="personeParams.idInput" placeholder="Cerca" (keyup.enter)="filtra()" pSize="small" style="width: 100%;"/>
                </p>
            </th>
            <th>Nome
                <p>
                    <input type="text" pInputText [(ngModel)]="personeParams.nomeInput" placeholder="Cerca" (keyup.enter)="filtra()" pSize="small" style="width: 100%;"/>
                </p>
            </th>
            <th>Cognome
                <p>
                    <input type="text" pInputText [(ngModel)]="personeParams.cognomeInput" placeholder="Cerca" (keyup.enter)="filtra()" pSize="small" style="width: 100%;"/>
                </p>
            </th>
            <th>Età
                <p>
                    <input type="number" pInputText [(ngModel)]="personeParams.etaInput" placeholder="Cerca" (keyup.enter)="filtra()" pSize="small" style="width: 100%;"/>
                </p>
            </th>
            <th>Luogo di nascita
                <p>
                    <input type="text" pInputText [(ngModel)]="personeParams.luogo_di_nascitaInput" placeholder="Cerca" (keyup.enter)="filtra()" pSize="small" style="width: 100%;"/>
                </p>
            </th>
            <th>Città attuale
                <p>
                    <input type="text" pInputText [(ngModel)]="personeParams.cittaInput" placeholder="Cerca" (keyup.enter)="filtra()" pSize="small" style="width: 100%;"/>
                </p>
            </th>
            <th>Indirizzo
                <p>
                    <input type="text" pInputText [(ngModel)]="personeParams.indirizzoInput" placeholder="Cerca" (keyup.enter)="filtra()" pSize="small" style="width: 100%;"/>
                </p>
            </th>
            <th style="text-align: center;">Opzioni</th>
        </tr>
    </ng-template>
    <ng-template #body let-persona>
        <tr>
            <td>{{ persona.id }}</td>
            <td>{{ persona.nome }}</td>
            <td>{{ persona.cognome }}</td>
            <td>{{ persona.eta }}</td>
            <td>{{ persona.luogo_di_nascita }}</td>
            <td>{{ persona.citta }}</td>
            <td>{{ persona.indirizzo }}</td>
            <td>
                <p-button icon="pi pi-ellipsis-v" [rounded]="true" severity="info" [outlined]="true" (click)="openMenuOption($event, persona, menu)" class="flex justify-center" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-tieredmenu #menu [model]="items" [popup]="true"></p-tieredmenu>

<p-dialog header="Eliminare Persona?" [modal]="true" [(visible)]="visibleDelete" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Sei sicuro di voler eliminare la seguente persona?</span>
    <div *ngIf="personaEdit" style="margin-top: 15px;">
        <div><b> {{ personaEdit.nome }} {{ personaEdit.cognome }} </b> di anni <b> {{ personaEdit.eta }} </b></div>
    </div>
    <div class="flex justify-end gap-2" style="margin-top: 30px;">
        <p-button class="bottone" label="Indietro" severity="secondary" (click)="visibleDelete = false" />
        <p-button class="bottone" label="Elimina" (click)="deletePersona(personaEdit)" />
    </div>
</p-dialog>



