<form (ngSubmit)="login()">
    <div class="flex justify-center items-center mt-30 ">
      <div class="flex justify-center flex-col gap-2">
            <p-iftalabel>
                <input pInputText id="username" [(ngModel)]="username" name="nome" autocomplete="off"/>
                <label for="username">Username</label>
            </p-iftalabel>
            <p-iftalabel>
                <input pInputText type="password" id="password" [(ngModel)]="password" name="password" />
                <label for="password">Password</label>
            </p-iftalabel>
            <div class="flex justify-end">
                <p-button type="submit" label="Accedi"/>
            </div>
      </div>
    </div>
</form>
